<div mat-dialog-title>
  <img
    id="profile-img"
    src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
    class="profile-img-card"
  />
</div>
<form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Login:</mat-label>
        <input
          matInput
          type="text"
          placeholder="Login"
          formControlName="login"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password:</mat-label>
        <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="password"
        />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action-btns">
    <button style="margin: 10px" mat-raised-button color="accent" type="submit">
      Logar
    </button>
    <button
      mat-raised-button
      type="button"
      color="warn"
      [mat-dialog-close]="false"
    >
      Cancel
    </button>
  </div>
</form>
