.example-spacer {
  flex: 1 1 auto;
}

at-form-field {
  width: 100%;
  margin: auto;
}
.main-body {
  max-width: 80%;
  margin: 20px auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  font-size: 15px;
}
